sudo apt update
sudo apt install -y python3-opencv
# For cv_bridge typically installed via apt for your ROS distribution:
sudo apt install -y ros-jazzy-cv-bridge


pip install --upgrade pip setuptools wheel
pip install torch torchvision torchaudio --index-url https://download.pytorch.org/whl/cu121
pip install ultralytics opencv-python
